body {
  margin: 0;
}


nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 50px;
  background-color:rgb(163, 160, 162) ;
}

.navlinks {
  width: 60%;
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  
}

.songwrap {
  margin: auto;
  width: 80%;
  
  padding: 10px;
}

.song-row__item {
  width:25%;
  border: 2x solid black;
}

table, th, td {

  text-align: center;
  border: 1px solid black;
  border-collapse: collapse;
}